.footer{
  padding: 3rem;
  background-color: #1E55DE;
}

footer{
  max-width: 120rem; 
  width: 100%; 
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
}

footer .boxs{
  padding: 2rem;
}

footer .boxs .p{
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #f1efff;
}

footer .boxs ul{
  list-style: none;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
}

footer .boxs ul li{
  margin-bottom: 1.5rem;
  cursor: pointer;
}

footer .boxs ul li a{
  text-decoration: none;
  color: #b2c6f7;
  transition: all 0.3s linear;
}

footer .boxs ul li a:hover{
  color: rgb(14, 12, 12);
}